---
import Layout from "../../components/Layout.astro";
import { getCollection } from "astro:content";
import BlogPostCard from "../../components/ui/BlogPostCard.astro";
import Pagination from "../../components/ui/Pagination.astro";

export type Props = {
    page: number;
}

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .sort((a,b) => Number(b.data.date) - Number(a.data.date));

  const pageSize = 6;
  const pageCount = Math.ceil(posts.length / pageSize);

  // Générer toutes les pages
  const paths = Array.from({ length: pageCount }, (_, i) => ({
    params: { page: String(i + 1) },
    props: { page: i + 1 }
  }));

  return paths;
}

const { page } = Astro.props;

const posts = (await getCollection("blog"))
  .sort((a,b) => Number(b.data.date) - Number(a.data.date));

const pageSize = 6;
const start = (page - 1) * pageSize;
const pagePosts = posts.slice(start, start + pageSize);
const totalPages = Math.ceil(posts.length / pageSize);
---

<Layout title={`Blog - page ${page}`}>
    <hgroup>
        <h1>Blog</h1>

        { totalPages > 1 && <p>Page ({page} / {totalPages})</p> }
    </hgroup>

    <div class="post-list">
        { pagePosts.map((post, i) => <BlogPostCard post={post} scroll-animation="slide-block-end" />) }
    </div>

    {
        totalPages > 1 && (
            <hr>
            <Pagination
                scroll-animation="slide-inline-end"
                current={page}
                total={totalPages}
                urlPrefix="/blog"  />
        )
    }

    <hr>

    <a href="/blog/tags">Voir tous les tags</a>
</Layout>

<style lang="scss">
.post-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing);

    @media (min-width: 85ch) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 120ch) {
        gap: var(--spacing-lg);
    }
}
</style>

