---
import { Icon } from "astro-icon/components";
import Layout from "../components/Layout.astro";
import { getCollection } from "astro:content";
import Sharer from "../components/ui/Sharer.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;

// 1️⃣ Récupérer tous les posts
const allPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

// 2️⃣ Trouver l’index du post courant
const index = allPosts.findIndex((p) => p.slug === post.slug);

// 3️⃣ Déterminer précédent et suivant
const prevPost = index < allPosts.length - 1 ? allPosts[index + 1] : null;
const nextPost = index > 0 ? allPosts[index - 1] : null;
---

<Layout title={post.data.title}>
    <header>
        <img
            transition:name={`post-img-${post.id}`}
            src={post.data.featured_image || "/images/default_img.jpg"}
            alt={`Featured image for ${post.data.title}`}
            class="blog-post__image">

        <hgroup>
            <h1 transition:name={`post-title-${post.id}`}>
                {post.data.title}
            </h1>

            <p><i>
                Publié le

                <time datetime={post.data.date.toISOString()}>
                    {post.data.date.toLocaleDateString("fr-FR", { dateStyle: 'long'})}
                </time>

                par {post.data.author}
            </i></p>
        </hgroup>

        { post.data.tags?.length && (
            <div class="blog-post__tags">
                <h2>tags:</h2>
                {post.data.tags.map((t) => <a role="button" class="btn btn--variant-accent-border btn--size-small" href={`/blog/tags/${t}/`}>{t}</a>)}
            </div>
        )}

    </header>

    <hr>

    <main>
        { post.rendered?.html && <article class="blog-post__content__main" set:html={post.rendered.html} /> }

        <aside class="blog-post__content__sidebar">
            <div class="card blog-post__content__sidebar__section">
                <h3>
                    <Icon name="mdi:share-variant" />
                    Partager
                </h3>

                <Sharer />
            </div>
        </aside>
    </main>

    <hr />

    <footer>
        <nav class="blog-post__navigation">
            <div class="blog-post__navigation__prev">
                {
                    nextPost && (
                        <a
                            role="button"
                            class="btn btn--variant-secondary-border btn--size-large"
                            href={`/${nextPost.slug}/`}>
                            <div class="btn__icon">
                                <Icon name="mdi:arrow-left" />
                            </div>

                            <span>
                                <small>Suivant</small>
                                <br>
                                <strong>{nextPost.data.title}</strong>
                            </span>
                        </a>
                    )
                }
            </div>

            <div class="blog-post__navigation__next">
                {
                    prevPost && (
                        <a
                            role="button"
                            class="btn btn--variant-secondary-border btn--size-large"
                            href={`/${prevPost.slug}/`}>
                            <span>
                                <small>Précédent</small>
                                <br>
                                <strong>{prevPost.data.title}</strong>
                            </span>

                            <div class="btn__icon">
                                <Icon name="mdi:arrow-right" />
                            </div>
                        </a>
                    )
                }
            </div>
        </nav>
    </footer>
</Layout>

// @todo:
// le contenu dans le layout
// sidebar -> bas de header + popover!
// img & pre -> bleed

<style lang="scss">
    header {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: bleed;

        > * {
            grid-column: content;
        }

        img {
            grid-column: bleed;
            width: 100%;
            margin-bottom: var(--spacing-lg);
        }
    }


    @media (min-width: 120ch) {
        main {
            display: grid;
            grid-template-columns: 1fr 35ch;
            column-gap: var(--spacing-lg);
        }
    }



    // &__tags {
    //     display: flex;
    //     gap: var(--spacing);
    //     flex-wrap: wrap;
    //     margin-bottom: var(--spacing);
    // }

    // &__content {
    //     display: flex;
    //     flex-direction: column;
    //     gap: var(--spacing-lg);

    //     &__sidebar__section {
    //         padding: var(--spacing) var(--spacing-lg);
    //         text-align: center;
    //     }

    //     @media (min-width: 120ch) {
    //         flex-direction: row;

    //         &__main {
    //             flex: 1;
    //         }

    //         &__sidebar__section {
    //             position: sticky;
    //             top: calc(6rem + var(--spacing));
    //         }
    //     }
    // }

    // &__navigation {
    //     display: flex;
    //     justify-content: space-between;
    //     margin-block-start: var(--spacing-xl);

    //     &__prev {
    //         text-align: end;
    //     }
    // }
    // }
</style>
