---
import { Icon } from "astro-icon/components";
import Layout from "../components/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;

// 1️⃣ Récupérer tous les posts
const allPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

// 2️⃣ Trouver l’index du post courant
const index = allPosts.findIndex((p) => p.slug === post.slug);

// 3️⃣ Déterminer précédent et suivant
const prevPost = index < allPosts.length - 1 ? allPosts[index + 1] : null;
const nextPost = index > 0 ? allPosts[index - 1] : null;
---

<Layout title={post.data.title}>
    <article class="blog-post">
        <h1 transition:name={`post-title-${post.id}`}>
            {post.data.title}
        </h1>

        <img
            transition:name={`post-img-${post.id}`}
            src={post.data.featured_image || "/images/default_img.jpg"}
            alt={`Featured image for ${post.data.title}`}
            class="featured-image">

        <p><i>
            Publié le

            <time datetime={post.data.date.toISOString()}>
                {post.data.date.toLocaleDateString("fr-FR", { dateStyle: 'long'})}
            </time>

            par {post.data.author}
        </i></p>

        <p class="blog-post__tags">
            {post.data.tags?.map((t, i) => <a role="button" class="btn btn--variant-accent-border btn--size-small" href={`/blog/tags/${t}/`}>{t}</a>)}
        </p>

        <hr>

        {
            post.rendered?.html && (
                <div class="content" set:html={post.rendered.html} />
            )
        }

        <hr />

        <nav class="blog-post__navigation">
            <div class="blog-post__navigation__prev">
                {
                    nextPost && (
                        <a
                            role="button"
                            class="btn btn--variant-secondary-border btn--size-large"
                            href={`/${nextPost.slug}/`}>
                            <div class="btn__icon">
                                <Icon name="mdi:arrow-left" />
                            </div>

                            <span>
                                <small>Suivant</small>
                                <br>
                                <strong>{nextPost.data.title}</strong>
                            </span>
                        </a>
                    )
                }
            </div>

            <div class="blog-post__navigation__next">
                {
                    prevPost && (
                        <a
                            role="button"
                            class="btn btn--variant-secondary-border btn--size-large"
                            href={`/${prevPost.slug}/`}>
                            <span>
                                <small>Précédent</small>
                                <br>
                                <strong>{prevPost.data.title}</strong>
                            </span>

                            <div class="btn__icon">
                                <Icon name="mdi:arrow-right" />
                            </div>
                        </a>
                    )
                }
            </div>
        </nav>
    </article>
</Layout>


<style lang="scss">
    .blog-post {
        .featured-image {
            width: 100%;
            margin-bottom: var(--spacing-lg);
            border-radius: var(--border-radius-lg);
        }

        &__tags {
            display: flex;
            gap: var(--spacing);
            flex-wrap: wrap;
            margin-bottom: var(--spacing);
        }

        &__navigation {
            display: flex;
            justify-content: space-between;
            margin-block-start: var(--spacing-xl);

            &__prev {
                text-align: end;
            }
        }
    }
</style>
