---
import { Icon } from "astro-icon/components";
import Layout from "../components/Layout.astro";
import { getCollection } from "astro:content";
import Sharer from "../components/ui/Sharer.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;

// 1️⃣ Récupérer tous les posts
const allPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

// 2️⃣ Trouver l’index du post courant
const index = allPosts.findIndex((p) => p.slug === post.slug);

// 3️⃣ Déterminer précédent et suivant
const prevPost = index < allPosts.length - 1 ? allPosts[index + 1] : null;
const nextPost = index > 0 ? allPosts[index - 1] : null;
---

<Layout title={post.data.title}>
    <header>
        <img
            transition:name={`post-img-${post.id}`}
            src={post.data.featured_image || "/images/default_img.jpg"}
            alt={`Featured image for ${post.data.title}`}
            class="blog-post__image">

        <hgroup>
            <h1 transition:name={`post-title-${post.id}`}>
                {post.data.title}
            </h1>

            <p transition:name={`post-info-${post.id}`}>
                <small>
                    <i>
                        le
                        <time datetime={post.data.date.toISOString()}>
                            {post.data.date.toLocaleDateString("fr-FR", { dateStyle: 'long'})}
                        </time>
                        par {post.data.author}
                    </i>
                </small>
            </p>
        </hgroup>

        { post.data.tags?.length && (
            <div class="blog-post__tags">
                {post.data.tags.map((t) => <a role="button" class="btn btn--variant-accent-border btn--size-small" href={`/blog/tags/${t}/`}>{t}</a>)}
            </div>
        )}

        <div role="complementary">
            <Sharer />
        </div>
    </header>

    <hr>

    { post.rendered?.html && <article set:html={post.rendered.html} /> }

    <hr />

    <footer>
        <nav>
            {
                nextPost ? (
                    <a
                        role="button"
                        rel="next"
                        class="btn btn--variant-secondary-border btn--size-large"
                        href={`/${nextPost.slug}/`}>
                        <div class="btn__icon">
                            <Icon name="mdi:arrow-left" />
                        </div>

                        <span>
                            <small>Suivant</small>
                            <br>
                            <strong>{nextPost.data.title}</strong>
                        </span>
                    </a>
                ) : <div></div>
            }

            {
                prevPost ? (
                    <a
                        role="button"
                        rel="prev"
                        class="btn btn--variant-secondary-border btn--size-large"
                        href={`/${prevPost.slug}/`}>
                        <span>
                            <small>Précédent</small>
                            <br>
                            <strong>{prevPost.data.title}</strong>
                        </span>

                        <div class="btn__icon">
                            <Icon name="mdi:arrow-right" />
                        </div>
                    </a>
                ) : <div></div>
            }
        </nav>
    </footer>
</Layout>


<style lang="scss">
    header,
    article,
    footer {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: bleed;

        &:global(> *) {
            grid-column: content;
        }
    }

    header {
        img {
            grid-column: bleed;
            width: 100%;
            margin-bottom: var(--spacing-lg);
        }

        [role="complementary"] {
            margin-block: var(--spacing-lg);
            justify-self: end;
        }
    }

    article > :global(*:has( >img)),
    article > :global(pre.astro-code),
    article > :global(iframe),
    article > :global(blockquote) {
        grid-column: bleed;
        margin: var(--spacing-lg) auto;
        width: 100%;
        max-width: 120ch;
    }

    article :global(img) {
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);
    }

    article :global(pre.astro-code) {
        font-size: var(--txt-sm);
        max-width: 172ch; // because of the smaller font-size
    }

    footer {
        nav {
            display: flex;
            justify-content: space-between;
            gap: var(--spacing-lg);

            [rel="next"] {
                text-align: end;
            }
        }
    }
</style>
