---
import { ClientRouter } from "astro:transitions";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import SvgFilters from "./SvgFilters.astro";
import "../styles/global.scss";

import favicon from '../assets/logo.svg'

export type Props = {
    title: string;
    description: string,
    image?: string | URL,
}

const {
    title,
    description,
    image,
} = Astro.props;

const { url } = Astro
---

<html lang="fr" transition:name="root" transition:animate="none">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator}>

        <link rel="icon" type="image/svg+xml" href={favicon.src}>

        <title>{title} | Benjamin Caradeuc</title>
        <meta name="description" content={description} />

        <!-- OG -->
        <meta property="og:site_name" content="Benjamin Caradeuc">
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        { image && <meta property="og:image" content={image} /> }
        <meta property="og:url" content={url} />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        { image && <meta name="twitter:image" content={image} /> }


        <!-- sitemap -->
        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Galindo&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- astro transitions -->
        <ClientRouter />
    </head>

    <body>
        <Header />

        <main transition:animate="fade">
            <slot />
        </main>

        <Footer />

        <SvgFilters />
    </body>
</html>

<script is:inline>
    const theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    document.documentElement.setAttribute('data-theme', theme);
</script>

<script>
    import '@benavern/z-carousel';
    import './ui/ThemeSwitcher.wc';
    import './ui/ScrollAnimationPolyfill';
</script>
