---
import type { CollectionEntry } from 'astro:content';
import { markdownToTxt } from 'markdown-to-txt';

export type Props = {
    post: CollectionEntry<'blog'>;
    class?: string;
}

const { post, class: className = "", ...restAttributes } = Astro.props;
---

<article
    class={`blog-post-card card ${className}`}
    ${...restAttributes}>
    <figure class="blog-post-card__header">
        <figcaption class="blog-post-card__header__caption" data-theme="dark">
            <h3 transition:name={`post-title-${post.id}`}>
                {post.data.title}
            </h3>
        </figcaption>

        <img
            transition:name={`post-img-${post.id}`}
            class="blog-post-card__header__thumbnail"
            src={post.data.thumbnail || "/images/default_img.jpg"}
            alt={`Thumbnail for ${post.data.title}`}
            loading="lazy" />
    </figure>

    <div class="blog-post-card__content">
        {
            <p class="blog-post-card__content__excerpt">
                {post.data.excerpt ?? (markdownToTxt(post.body).slice(0, 150) + '...')}
            </p>
        }

        <p
            transition:name={`post-info-${post.id}`}
            class="blog-post-card__content__credits">
            <small>
                <i>
                    le
                    <time datetime={post.data.date.toISOString()}>
                        {post.data.date.toLocaleDateString("fr-FR", { dateStyle: 'medium'})}
                    </time>
                    par {post.data.author}
                </i>
            </small>
        </p>

        {
            post.data.tags?.length > 0 && (
                <div class="blog-post-card__content__tags">
                    {post.data.tags.map((tag) => (
                        <a
                            role="button"
                            class="btn btn--variant-accent-border btn--size-small btn--shape-pill"
                            href={`/blog/tags/${tag}/`}>
                            {tag}
                        </a>
                    ))}
                </div>
            )
        }
    </div>

    <div class="blog-post-card__footer">
        <a
            role="button"
            class="btn btn--variant-primary blog-post-card__link"
            href={`/${post.slug}/`}
            no-hover-filter>
            Lire l'article ...
        </a>
    </div>
</article>

<style lang="scss">
    .blog-post-card {
        position: relative;
        display: flex;
        flex-direction: column;
        transition: scale .3s;
        will-change: scale;

        &:hover {
            scale: 1.02;
        }

        &__header {
            display: block;
            position: relative;
            border-bottom: var(--border);
            border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
            overflow: clip;

            &__caption {
                z-index: 1;
                position: absolute;
                inset: 0 0 0 0;
                background: linear-gradient(
                    to top,
                    var(--clr-bg-transparent),
                    transparent 75%
                );
                padding: var(--spacing);
                display: flex;
                align-items: flex-end;

                h3 {
                    margin: 0;
                }
            }

            &__thumbnail {
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 16 / 9;
            }
        }

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-block: var(--border);
            padding: var(--spacing);

            &__excerpt {
                white-space: pre-wrap;
                margin-bottom: var(--spacing);

                @supports ((display: -webkit-box) and (-webkit-line-clamp: 3)) {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }

            &__credits {
                margin-block-start: auto;
                text-align: end;
            }

            &__tags {
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-sm);
                margin-block-start: var(--spacing);

                .btn {
                    white-space: nowrap;
                }
            }
        }

        &__footer {
            text-align: end;
            padding: var(--spacing);
        }

        &__link {
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                z-index: 2;
            }
        }
    }
</style>
