---
import { Icon } from "astro-icon/components";

const shareUrl = encodeURIComponent((new URL(Astro.url.pathname, Astro.site)).href);

const links = [
  {
    name: "Facebook",
    url: `https://www.facebook.com/sharer/sharer.php?u=${shareUrl}`,
    icon: "mdi:facebook",
  },
  {
    name: "X",
    url: `https://x.com/intent/tweet?text=${shareUrl}`,
    icon: "x",
  },
  {
    name: "LinkedIn",
    url: `https://www.linkedin.com/shareArticle?mini=true&url=${shareUrl}`,
    icon: "mdi:linkedin",
  },
  {
    name: "Whatsapp",
    url: `https://api.whatsapp.com/send/?text=${shareUrl}&type=custom_url`,
    icon: "mdi:whatsapp",
  },
];
---

<button
    class="btn btn--variant-secondary-border btn--size-large"
    popovertarget="sharer"
    aria-controls="sharer">
    <Icon name="mdi:share-variant" />

    <span class="sr-only">
        Partager
    </span>
</button>

<div
    popover
    id="sharer"
    class="card"
    aria-label="Partager cet article sur ...">
    {links.map((link) => (
        <a
            href={link.url}
            target="_blank"
            role="button"
            class="btn btn--variant-primary-border btn--size-large"
            title={`Partager sur ${link.name}`}>
            <span class="btn__icon">
                <Icon name={link.icon} />
            </span>

            <span class="sr-only">Partager sur {link.name}</span>
        </a>
    ))}
</div>

<style lang="scss">
    [popovertarget] {
        anchor-name: --sharer-anchor;
    }

    [popover]:popover-open {
        position-anchor: --sharer-anchor;
        position-area: left center;
        margin-inline-end: var(--spacing);
        border: var(--border);
        border-radius: var(--border-radius-lg);
        padding: var(--spacing);
        display: grid;
        row-gap: var(--spacing);
        overflow: visible;

        &::after {
            content: '';
            position: absolute;
            width: var(--spacing);
            height: var(--spacing);
            background-color: var(--clr-bg-alt);
            border: 1px solid var(--clr-border);
            inset: 50% 0 auto auto;
            clip-path: polygon(0 0, 100% 100%, 100% 0);
            rotate: 45deg;
            translate: 50% -50%;
        }

    }

    @supports not (anchor-name: --test) {
        :global(html):has([popover]:popover-open) {
            overflow: hidden;
        }

        [popover]:popover-open {
            position: fixed;
            inset: 50%;
            margin-inline-end: 0;
            translate: -50% -50%;

            &::after {
                display: none;
            }

            &::backdrop {
                background-color: var(--clr-bg-transparent-blur);
                backdrop-filter: blur(5px);
            }
        }
    }
</style>
